.wrapper-yes-no{
  background-color: #2c2b2f;
  padding-top: rem(35);
}

.wrapper-faq__title-bottom {
  font-family: $fontTitle;
  font-size: $mobTitle;
  font-weight: 900;
  line-height: rem(30);
  color: $textGrey;
  text-transform: uppercase;
  margin-bottom: rem(35);
  text-align: center;
}

.wrapper-faq__title-bottom:before {
  content: '';
  display: inline-block;
  width: rem(16);
  height: rem(5);
  background-color: $textBlue;
}

.for-you-box {
  width: 90.625%;
  margin: auto;
  background-color: #fff;
  margin-bottom: rem(15);
}

.for-you-box__text {
  padding-top: rem(35);
}
