@media (max-width:767px) {
  .wrapper-faq {
    background-color: #fff;
    margin-top: rem(55);
  }

  .title__faq-box-title {
    position: relative;
    font-size: $mobTitle;
    line-height: rem(50);
  }

  .title--faq{
    margin-bottom: rem(35);
  }

  .title__faq-box-title:before {
    content: '';
    display: inline-block;
    width: rem(16);
    height: rem(5);
    background-color: $textBlue;
  }

  .title__faq-box-title:after {
    position: absolute;
    left: rem(60);
    top: rem(40);
    content: '';
    height: rem(2);
    width: rem(150);
    background-color: #000;
  }

  .title--faq:after {
    content: '';
    margin-top: rem(12);
  }

  .paragraph{
    font-size: $mobPar;
  }

  .paragraph--faq {
    margin-bottom: rem(40);
  }

  .paragraph__top {
    line-height: rem(20);
    text-align: center;
  }

  .paragraph__bot {
    border: none;
    line-height: rem(20);
    text-align: center;
  }

  .wrapper-faq__questions-box {
    margin-bottom: rem(85) ;
  }

  .wrapper-faq__answer-boxes {
    font-family: $fontOpenSans;
    font-weight: 900;
    font-size: rem(12);
    text-transform: uppercase;
    padding: rem(25) rem(32);
    background-color: #ededed;
    box-shadow: 0 0 rem(3) rem(2) rgba(0,0,0,0.16);
    border-radius: rem(4);
    margin-bottom: rem(10);
  }

  .wrapper-faq__answer-boxes-open{
    box-shadow: 0 0 rem(3) rem(2) rgba(0,0,0,0.16);
    border-radius: rem(4);
  }

  .wrapper-faq__answer-boxes-special {
    font-family: $fontOpenSans;
    font-weight: 900;
    font-size: rem(12);
    text-transform: uppercase;
    padding: rem(25) rem(32);
    background-color: #ededed;
    box-shadow: 0 0 rem(3) rem(2) rgba(0,0,0,0.16);
    border-radius: rem(4);
    margin-bottom: rem(10);
  }

  .wrapper-faq__answer-boxes-special--first{
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
  }

  .wrapper-faq__answer-boxes-special--second{
    background-color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    text-transform: initial;
    font-weight: initial;
  }

  .title--bottom {
    font-size: $mobTitle;
    line-height: rem(50);
    margin-bottom: rem(35);
    text-align: center;
  }

  .title--bottom:before {
    content: '';
    display: inline-block;
    width: rem(16);
    height: rem(5);
    background-color: $textBlue;
  }
}

@media (min-width: 768px) {
  .wrapper-faq {
    padding-top: rem(130);
    margin-top: 0;
    padding-bottom: rem(60);
  }

  .wrapper-faq__faq-title-box {
    width: 50%;
  }

  .wrapper-faq__faq-title-box--tab {
    margin-bottom: rem(125);
  }

  .title__faq-box-title{
    font-size: $tabTitle;
  }

  .title--faq{
    margin-bottom: rem(45);
  }

  .paragraph{
    font-size: $tabPar;
  }

  .paragraph--faq{
    width: 58%;
  }

  .paragraph__bot{
    border-top: 2px solid #000;
  }

  .wrapper-faq__answer-boxes {
    position: relative;
    font-family: $fontOpenSans;
    font-weight: 900;
    font-size: rem(14);
    text-transform: uppercase;
    padding: rem(25) rem(32);
    background-color: #ededed;
    box-shadow: 0 0 rem(3) rem(2) rgba(0,0,0,0.16);
    border-radius: rem(4);
    margin-bottom: rem(10);
  }

  .wrapper-faq__answer-boxes-special {
    position: relative;
    font-family: $fontOpenSans;
    font-weight: 900;
    font-size: rem(14);
    text-transform: uppercase;
    padding: rem(25) rem(32);
    background-color: #ededed;
    box-shadow: 0 0 rem(3) rem(2) rgba(0,0,0,0.16);
    border-radius: rem(4);
    margin-bottom: rem(10);
  }

  .wrapper-faq__answer-boxes:after{
    content: url(../img/s-17/cross.png);
    position: absolute;
    left: rem(680);
    top: rem(15);
  }

  .wrapper-faq__answer-boxes-open{
    box-shadow: 0 0 rem(3) rem(2) rgba(0,0,0,0.16);
  }

  .wrapper-faq__questions-box>.wrapper-faq__answer-boxes:nth-last-child(1) {
    margin-bottom: rem(80);
  }

  .wrapper-faq__answer-boxes-special--first{
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
  }

  .wrapper-faq__answer-boxes-special--second{
    font-size: rem(14);
  }

  .wrapper-faq__answer-boxes-special--first:after {
    content: '';
    position: absolute;
    height: rem(1);
    width: rem(40);
    background-color: #000;
    left: rem(680);
    top: rem(30);
  }

  .wrapper-faq__answer-boxes-special--second{
    background-color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    text-transform: initial;
    font-weight: initial;
  }

  .title--bottom{
    text-align: center;
  }
}

