@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Museo Sans Cyrl W03 300/Museo Sans Cyrl W03 300.woff') format('woff'), url('../fonts/Museo Sans Cyrl W03 300/Museo Sans Cyrl W03 300.woff2') format('woff2'), url('../fonts/Museo Sans Cyrl W03 300/Museo Sans Cyrl W03 300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Museo Sans Cyrl W03 900/Museo Sans Cyrl W03 900.woff') format('woff'), url('../fonts/Museo Sans Cyrl W03 900/Museo Sans Cyrl W03 900.woff2') format('woff2'), url('../fonts/Museo Sans Cyrl W03 900/Museo Sans Cyrl W03 900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open Sans/Open Sans.woff') format('woff'), url('../fonts/Open Sans/Open Sans.woff2') format('woff2'), url('../fonts/Open Sans/Open Sans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open Sans Extrabold/Open Sans Extrabold.woff') format('woff'), url('../fonts/Open Sans Extrabold/Open Sans Extrabold.woff2') format('woff2'), url('../fonts/Open Sans Extrabold/Open Sans Extrabold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open Sans Semibold/Open Sans Semibold.woff') format('woff'), url('../fonts/Open Sans Semibold/Open Sans Semibold.woff2') format('woff2'), url('../fonts/Open Sans Semibold/Open Sans Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima Nova/Proxima Nova.woff') format('woff'), url('../fonts/Proxima Nova/Proxima Nova.woff2') format('woff2'), url('../fonts/Proxima Nova/Proxima Nova.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima Nova Extrabold/Proxima Nova Extrabold.woff') format('woff'), url('../fonts/Proxima Nova Extrabold/Proxima Nova Extrabold.woff2') format('woff2'), url('../fonts/Proxima Nova Extrabold/Proxima Nova Extrabold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../fonts/Ubuntu Mono/Ubuntu Mono.woff') format('woff'), url('../fonts/Ubuntu Mono/Ubuntu Mono.woff2') format('woff2'), url('../fonts/Ubuntu Mono/Ubuntu Mono.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../fonts/Ubuntu Mono Bold/Ubuntu Mono Bold.woff') format('woff'), url('../fonts/Ubuntu Mono Bold/Ubuntu Mono Bold.woff2') format('woff2'), url('../fonts/Ubuntu Mono Bold/Ubuntu Mono Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
