.wrapper__s-thirteen {
  background-image: url(../img/s13/whitenoise-1440x2000.png);
}

.s-thirteen__container {
  padding-top: rem(54);
  padding-bottom: rem(72);
}

.s-thirteen__list-box {
  margin-bottom: rem(33);
}

.s-thirteen__blueword {
  font-family: $fontUbuntuMono;
  text-transform: capitalize;
  font-weight: 700;
}

@media (max-width: 768px) {
  .s-thirteen__title {
    text-align: center;
    font-size: $mobTitle;
    font-weight: 900;
    line-height: rem(30);
    margin: auto;
    margin-bottom: rem(72);
  }
  .title:before {
    width: rem(16);
    height: rem(4);
  }
  .s-thirteen__blueword {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: rem(8);
  }
  .sucsess__btn {
    font-size: $mobBtn;
    border-radius: rem(5);
    padding: rem(18) rem(30);
    display: inline-block;
  }
  .s-thirteen__list-item {
    background-color: #fff;
    margin-bottom: rem(72);
    position: relative;
    padding: rem(60) rem(17) rem(17);
  }
  .s-thirteen__list-item:last-child {
    margin-bottom: 0;
  }
  .s-thirteen__pic {
    position: absolute;
    top: -34%;
    left: 50%;
    transform: translate(-50%) scale(0.527);
  }
  .s-thirteen__list {
    text-align: center;
  }
  .text--mobisth {
    margin-bottom: rem(50);
  }
}

.s-thirteen__prof {
    font-size: rem(12);
    font-family: $fontUbuntuMono;
    color: rgb(95, 95, 95);
    text-align: center;
    margin-bottom: rem(5);
}

.s-thirteen__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.text--mobisth {
   text-align: left;
   font-size: $mobPar;
   line-height: rem(24);
   font-weight: 400;
}

 .s-thirteen__link {
   font-family: $fontOpenSans;
   font-size: rem(14);
   font-weight: 900;
   text-transform: uppercase;
   display: block;
   color: #000;
   align-self: flex-end;
   border-bottom: rem(2) solid #000;
   line-height: rem(18);
   letter-spacing: rem(1)
 }

.sucsess {
  text-align: center;
}

.sucsess_text {
  font-family: $fontOpenSans;
  font-size: rem(12);
  font-weight: 900;
  color: rgb(36, 36, 39);
  text-transform: uppercase;
  margin-bottom: rem(40);
}

.sucsess__link {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 0 rem(5);
}

.sucsess__up {
  border-top: rem(2) solid #000;
  display: inline-block;
  line-height: rem(25);
  padding-left: rem(5);
}

.sucsess__up > .sucsess__link {
  margin-left: rem(5);
}

.sucsess__md {
  display: block;
  line-height: rem(25);
}

.sucsess__down > .sucsess__link {
  margin-right: rem(5);
}

.sucsess__down {
  border-bottom: rem(2) solid #000;
  display: inline-block;
  line-height: rem(25);
  padding-right: rem(5);
}

@media (min-width: 768px) and (max-width: 1440px) {
  .wrapper__s-thirteen {
    background-image: url(../img/s13/whitenoise-1440x2000.png);
  }
  .s-thirteen__container {
    padding-top: rem(97);
  }
  .s-thirteen__blueword {
    font-size: rem(30);
  }
  .s-thirteen__title {
    font-size: $tabTitle;
    text-align: center;
    margin-bottom: rem(76);
  }
  .title:before {
    width: rem(19);
    height: rem(5);
  }
  .s-thirteen__list-item {
    display: flex;
    flex-basis: rem(691);
    margin-bottom: rem(11);
    //box-shadow: 1;
  }
  .s-thirteen__list-item:last-child {
    margin-bottom: 0;
  }
  .s-thirteen__pic {
    display: inline-block;
    height: 100%;
  }
  .s-thirteen__text {
    height: inherit;
    padding: rem(25) rem(25) 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    background-color: #fff;
    flex-basis: 82.8%;
  }
  .s-thirteen__link {
    margin-left: auto;
  }
  .text--mobisth {
    margin-bottom: rem(10);
  }
  .sucsess_text {
    font-size: rem(16);
  }
  .sucsess__btn {
    display: inline-block;
    font-size: $tabBtn;
    border-radius: rem(5);
    padding: rem(18) rem(30);
  }
}


