//----------------------BACKGROUND

.wrapper-s-15 {
  padding: rem(58) 0;
  background-color: #fafafa;
}

//----------------------TITLE

.title{
  &--mobFont{
    font-size: $mobTitle;
    text-align: center;
    line-height: rem(30);
  }

  &--mobMargin-56{
    margin-bottom: rem(56);
  }

  &--mobMargin-38{
    margin-bottom: rem(38);
  }
}

//----------------------SUBTITLE

.sub-title-s-15{
  font-family: $fontUbuntuMono;
  font-weight: 700;
  font-size: rem(20);
  margin-bottom: rem(20);

  &__after::after {
    content: '';
    display: block;
    width: rem(80);
    height: rem(3);
    background-color: $textBlue;
    margin-top: rem(10);
  }

  &--tborder{
    border-top: rem(2) solid $bgDarkgrey;
  }

  &--fontMod{
    font-family: $fontOpenSans;
    font-weight: 900;
    color: $textGrey;
    font-size: $mobPar;
    text-transform: uppercase;
  }

}

//----------------------TEXT

.text-s-15-16 {
  font-family: $fontText;
  font-size: $mobPar;
  font-weight: 600;
  line-height: rem(24);
  color: $textBlack;

  &--mbot30{
    margin-bottom: rem(30);
  }

  &--mbot50{
    margin-bottom: rem(50);
  }

  &--bold{
    font-weight: 900;
  }
}

//----------------------BOOLETS

.comp-menu{

}

.learn-item::before {
  content: '';
  display: inline-block;
  width: rem(18);
  height: rem(18);
  border-radius: 50%;
  background-color: $bgDarkgrey;
  position: absolute;
  left: rem(-39);
  transform: translateY(rem(5));
}

.learn-item{
  display: block;
  //text-indent: -2rem;
  position: relative;
  margin-left: rem(39);
  margin-bottom: rem(16);

}

//---------------MEDIA RULES

@media(min-width: 768px){
  .wrapper-s-15{
    background-image: linear-gradient(-15deg, transparent 19%, #fff 19%), url(../img/s-16/pics/noise.png);
    @include bg-img;
  }

  .section-15{
    width: prc(690, 730);
    margin: auto;
    position: relative;
    background-color: #fafafa;
    box-shadow: 0 5px 20px 7px rgba(0,0,0,0.15);
    z-index: 1;


    &__before::before{
      content: '';
      display: inline-block;
      width: rem(17);
      height: 56%;
      background-color: rgba(0, 188, 212, 0.5);
      position: absolute;
      left: rem(-17);
      top: 44%;
    }

    &__after::after{
      content: '';
      display: inline-block;
      width: 82%;
      height: rem(17);
      background-color: rgba(0, 188, 212, 0.5);
      position: absolute;
      bottom: rem(-17);
      right: calc(18% + 1.0625rem);

    }
  }

  .specific{
    width: prc(614, 690);
    margin: auto;
    padding-bottom: rem(56);
    position: relative;
    z-index: 1;

    &__after::after{
      content: '';
      display: inline-block;
      width: rem(1);
      height: 100%;
      background-color: #dadadb;
      position: absolute;
      left: 50%;
      bottom: 0;
      z-index: -1;
    }
  }
  //-----------BORDERED BOX
  .bordered-plate{
    border: rem(3) solid $textGrey;
    //position: relative;
    border-image-source: url("../img/s-15/pics/bordera.png");
    border-image-slice: 3 3 3 3;
    border-image-width: 3px 3px 3px 3px;
    border-image-repeat: stretch stretch;

    //&__before::before{
    //  content: '';
    //  display: inline-block;
    //  width: 44%;
    //  height: rem(8);
    //  background-color: #fafafa;
    //  position: absolute;
    //  top: rem(-4);
    //  left: 6.5%;
    //}
    //
    //&__after::after{
    //  content: '';
    //  display: inline-block;
    //  width: 23%;
    //  height: rem(8);
    //  background-color: #fafafa;
    //  position: absolute;
    //  bottom: rem(-5);
    //  left: 66%;
    //}
  }

  .sub-title-s-15--tborder{
    border-top: none;
  }
}
