.course-skills {
    padding-bottom: rem(50);
    padding-top: rem(80);
}

.two {
    margin-bottom: rem(60);
}

.time-container {
    text-align: center;
    margin-bottom: rem(80);

    &__card {
        position: relative;
        width: rem(171);
        margin: 0 auto rem(55);
    }

    &__card:last-child {
        margin-bottom: 0;
    }

    &__numb {
        color: $bgBlue;
        font-size: rem(85);
        font-weight: 700;
        font-family: $fontUbuntuMono;
    }

    &__numb::after {
        content: '';
        width: rem(170);
        height: rem(2);
        background-color: $textBlack;
        display: block;
        margin: 0 auto rem(20);
        position: relative;
    }

    &__hours {
        font-size: rem(17);
        font-weight: 700;
        font-family: $fontUbuntuMono;
        text-transform: uppercase;
        position: absolute;
        transform: rotate(90deg);
        top: 0;
        right: rem(-14);
    }

    &__text {
        font-size: rem(16);
        font-family: $fontUbuntuMono;
        font-weight: 700;
        text-align: left;
    }
}

.education-prog {
    font-size: rem(18);
    font-weight: 900;
    text-transform: uppercase;
    font-family: $fontMuseoCyrl;
    text-align: center;
    border-bottom: 2px solid $textBlack;
    padding-bottom: rem(12);
    margin-bottom: rem(42);
}

.menu-s4 {

    &__item {
        border: rem(1) solid #c0c0c0;
        margin:0 auto rem(15);
        width: rem(290);
        padding: rem(25) rem(15) rem(17) rem(15);
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__title {
        font-size: rem(16);
        font-family: $fontOpenSans;
        font-weight: 600;
        position: relative;
        text-align: center;
        margin-bottom: rem(23);
    }

    &__title::after {
        content: '';
        width: rem(70);
        height: rem(2);
        background-color: $bgBlue;
        display: block;
        position: relative;
        margin: rem(10) auto 0;
    }

    &__spbold {
        font-weight: 900;
    }
}

.sub-menu-s4 {
    &__title-mob {
        display: none;
    }

    &__title-desk {
        display: none;
    }

    &__sub-item {
        font-family: $fontOpenSans;
        font-weight: 600;
        font-size: rem(14);
        counter-increment: count-sub-item;
        // list-style-type: decimal-leading-zero;
        line-height: rem(24);
        margin-bottom: rem(13);
    }

    &__sub-item:last-child {
        margin-bottom: 0;
    }

    &__sub-item::before {
        content: '0'counter(count-sub-item)  '.';
        counter-reset: 01;
        display: inline-block;
        width: rem(28);
        height: rem(12);
        text-align: center;
        font-size: rem(20);
        font-family: $fontUbuntuMono;
        margin-right: rem(5);
    }
}

@media (min-width: 768px) {

    .course-skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: rem(530);
        padding-top: 0;
    }

    .two {
        text-align: center;
        // flex-basis: 90%;
        margin: 0 auto rem(55);
        padding: 0;
    }

    .two::after {
        width: 100%;
        margin-top: rem(7);
    }

    .time-container {
        flex-basis: 100%;
        display: flex;
        margin-bottom: rem(40);
    }

    .programme {
        flex-basis: 90%;
    }

    .education-prog {
        font-size: rem(24);
        text-align: left;
    }

    .menu-s4 {

        padding-bottom: rem(25);
        -webkit-box-shadow: 0px 7px 25px 3px rgba(220,220,220,1);
        -moz-box-shadow: 0px 7px 25px 3px rgba(220,220,220,1);
        box-shadow: 0px 7px 25px 3px rgba(220,220,220,1);

        &__item {
            border: none;
            padding: 0;
            width: 100%;
            margin-bottom: rem(20);
            text-align: left;
            position: relative;
            padding-left: rem(120);

        }

        &__item:hover { 
        
            .title_circle::after {
                background-color: $bgBlue;
                left: rem(-173);
            }

            .title_circle::before {
                left: rem(-150);
                width: rem(130);
            }
        }

        &__item:hover .sub-menu-s4 {
            display: block;
            padding-bottom: rem(40);

            -webkit-box-shadow: 14px 22px 0px 0px rgba(0,188,212,1);
            -moz-box-shadow: 14px 22px 0px 0px rgba(0,188,212,1);
            box-shadow: 14px 22px 0px 0px rgba(0,188,212,1);
        }

        &__item:hover .sub-m-pos-on {
            position: absolute;
            top: rem(300);
            left: 0;
            width: 100%;
        }
        &__item:hover .sub-m-pos-tw {
            position: absolute;
            top: rem(258);
            left: 0;
            width: 100%;
        }
        &__item:hover .sub-m-pos-th {
            position: absolute;
            top: rem(216);
            left: 0;
            width: 100%;
        }
        &__item:hover .sub-m-pos-fo {
            position: absolute;
            top: rem(174);
            left: 0;
            width: 100%;
        }
        &__item:hover .sub-m-pos-fi {
            position: absolute;
            top: rem(132);
            left: 0;
            width: 100%;
        }

        &__title {
            margin: 0;
            display: flex;
        }

        &__title::after {
            display: none;
        }

        .title_circle::before {
            content: '';
            display: inline-block;
            background-color: $textBlack;
            width: rem(80);
            height: rem(2);
            position: absolute;
            top: rem(10);
            left: rem(-100);
        }

        .title_circle::after {
            content: '';
            display: inline-block;
            width: rem(20);
            height: rem(20);
            border: rem(2) solid $textBlack;
            border-radius: 50%;
            background-color: $textWhite;
            position: absolute;
            top: rem(-11);
            left: rem(-123);
        }
    }

    .sub-menu-s4 {
        display: none;

        &__title-desk {
            display: block;
            margin-bottom: rem(65);
            font-size: rem(18);
            font-family: $fontOpenSans;
            font-weight: 900;
            text-align: center;
        }

        &__sub-item {
            margin-bottom: rem(20);
        }

        &__sub-item::last-child {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 1200px) {
    
    .course-skills {
        justify-content: flex-start;
        padding-bottom: rem(80);
    }

    .two {
        margin-bottom: rem(60);
    }

    .two::after {
        width: 100%;
    }

    .time-container {

        margin-bottom: rem(100);

        &__card {
            flex-basis: 30%;
        }

        &__numb {
            font-size: rem(165);
        }

        &__numb:after {
            width: rem(245);
        }

        &__hours {
            font-size: rem(24);
            top: rem(30);
            right: rem(0);
        }

        &__text {
            font-size: rem(24);
            width: rem(245);
            margin: auto;
        }
    }

    .education-prog {
        font-size: rem(30);
        margin-bottom: rem(60);
    }

    .menu-s4 {
        padding-bottom: rem(60);
        padding-right: 200px;

        &__item {
            margin-bottom: rem(40);
        }

        &__item:hover .sub-menu-s4 {
            -webkit-box-shadow: 22px 22px 0px 0px rgba(0,188,212,1);
            -moz-box-shadow: 22px 22px 0px 0px rgba(0,188,212,1);
            box-shadow: 22px 22px 0px 0px rgba(0,188,212,1);

            padding-right: rem(20);
        }

        &__item:hover .sub-m-pos-on {
            position: absolute;
            top: rem(-100);
            left: rem(700);
            width: 400px;
        }
        &__item:hover .sub-m-pos-tw {
            position: absolute;
            top: rem(-167);
            left: rem(700);
            width: 400px;
        }
        &__item:hover .sub-m-pos-th {
            position: absolute;
            top: rem(-261);
            left: rem(700);
            width: 400px;
        }
        &__item:hover .sub-m-pos-fo {
            position: absolute;
            top: rem(-328);
            left: rem(700);
            width: 400px;
        }
        &__item:hover .sub-m-pos-fi {
            position: absolute;
            top: rem(-395);
            left: rem(700);
            width: 400px;
        }

        &__item:last-child {
            margin-bottom: 0;
        }

        &__title {
            font-size: rem(20);
        }

        .two-parts {
            width: rem(280);
            text-align: left;
            display: block;
        }
    }

    .sub-menu-s4 {
        
        &__sub-item {
            font-size: 17px;
        }

    }
}