.s19 {
  padding: rem(50) 0;
}

.career {
  display: flex;
  flex-direction: column-reverse;
}

.title__s19 {
  font-size: $mobTitle;
  line-height: rem(30);
  text-align: center;
  margin-bottom: rem(30);
}

.title__s19:before {
  width: rem(16);
  height: rem(4);
}

.career__foto {
  margin-bottom: rem(50);
}

.career__box {
  box-shadow: rem(8) rem(12) $bgBlue;
}

.text__one-text {
  font-size: rem(15);
  font-family: $fontOpenSans;
  font-weight: 300;
  line-height: rem(28);
  margin-bottom: rem(30);
}

.text__two-text {
  font-size: rem(16);
  font-family: $fontOpenSans;
  text-transform: uppercase;
  font-weight: 700;
  line-height: rem(24);
  margin-bottom: rem(10);
}

.text__three-text {
  font-size: rem(15);
  font-family: $fontOpenSans;
  font-weight: 700;
  line-height: rem(20);
  margin-bottom: rem(30);
}

.text__four-text {
  font-size: rem(15);
  font-family: $fontUbuntuMono;
  font-weight: 600;
  line-height: rem(24);
  margin-bottom: rem(20);
  display: block;
  border: 2px solid $textBlack;
  padding: rem(8) rem(30);
  margin-left: rem(50);
  position: relative;
}

.text__four-text:before {
  content: '';
  display: block;
  width: rem(10);
  height: rem(70);
  background: $textWhite;
  position: absolute;
  left: rem(-6);
  top: rem(10);
}

.text__four-text:after {
  content: '';
  display: block;
  width: rem(100);
  height: rem(10);
  background: $textWhite;
  position: absolute;
  bottom: rem(-6);
  right: rem(10);
}

@media (min-width: 768px) {
  .s19 {
    padding: rem(80) rem(30) rem(60);
  }

  .title__s19 {
    font-size: $tabTitle;
    line-height: rem(38);
    margin-bottom: rem(70);
  }

  .title__s19:before {
    width: rem(18);
    height: rem(5);
  }

  .text__one-text {
    margin-bottom: rem(60);
    position: relative;
  }

  .career {
    flex-direction: row;
  }

  .career__text {
    flex-basis: 50%;
    padding-right: rem(10);
  }

  .career__foto {
    flex-basis: 50%;
    padding: rem(20) 0;
    background: #eee;
    border: rem(8) solid $textWhite;
    box-shadow: rem(0) rem(16) rem(20) rem(10) $bgLightgrey;
    position: relative;
  }

  .career__box {
    width: 90%;
    height: 110%;
    box-shadow: rem(0) rem(16) rem(20) rem(10) $bgLightgrey;
    position: absolute;
    right: rem(-10);
    top: rem(-20);
    background: $bgBlue;
  }

  .career__man {
    width: 107%;
    height: 100%;
    position: absolute;
    right: rem(5);
    bottom: rem(15);
  }

  .career__man:before {
    content: '';
    display: block;
    position: absolute;
    width: rem(364);
    height: rem(2);
    background: $textBlack;
    left: rem(-364);
    top: rem(220);
  }

  .career__man-foto {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .s19 {
    padding: rem(80) 0;
  }

  .career__text {
    padding: rem(60) 0;
  }

  .title__s19 {
    font-size: $dtTitle;
    line-height: rem(50);
    margin-bottom: rem(110);
  }

  .title__s19:before {
    width: rem(20);
    height: rem(6);
  }

  .text__one-text {
    font-size: rem(20);
    line-height: rem(40);
  }

  .text__two-text {
    font-size: rem(18);
  }

  .text__three-text {
    margin-bottom: rem(100);
    font-size: rem(16);
  }

  .text__four-text {
    margin-left: rem(200);
    font-size: rem(16);
  }

  .career__man:before {
    content: '';
    display: block;
    position: absolute;
    width: rem(590);
    height: rem(4);
    background: $textBlack;
    left: rem(-590);
    top: rem(320);
  }
}
