.container {
  min-width: rem(320);
  max-width: rem(1140);
  margin: auto;
  padding: 0 rem(16);
}

.title {
  font-family: $fontTitle;
  font-size: rem(42);
  font-weight: 900;
  line-height: rem(50);
  color: $textGrey;
  text-transform: uppercase;
}

.title:before {
  content: '';
  display: inline-block;
  width: rem(26);
  height: rem(7);
  background-color: $textBlue;
}

.text {
  font-family: $fontText;
  font-size: rem(18);
  font-weight: 700;
  line-height: rem(26);
  color: $textBlack;
}

.paragraph {
  font-family: $fontMuseoCyrl;
  display: block;
  font-weight: 900;
  font-size: rem(18);
  line-height: rem(30);
  color: $textGrey;
  text-transform: uppercase;
  letter-spacing: rem(1);

  &__top{
    font-size: rem(18);
    line-height: rem(30);
    text-align: right;
    padding-right: rem(9);

  }

  &__bot{
    font-size: rem(18);
    line-height: rem(30);
    text-align: right;
    border-top: rem(6) solid $textGrey;
    display: block;
    width: 100%;
  }

}

.blueword {
  background-color: $textGrey;
  color: $textBlue;
  font-size: rem(18);
  font-weight: 400;
  line-height: rem(30);
  text-transform: uppercase;
  padding: rem(7) rem(9);

  &--lmar{
    margin-left: rem(9);
  }
}

.btn {
  background-image: linear-gradient(to left, rgb(251, 7, 64), rgb(255, 198, 23));
  border: none;
  color: #fff;
  padding: rem(29);
  text-align: center;
  cursor: pointer;
  font-family: $fontMuseoCyrl;
  font-weight: 900;
  font-size: rem(16);
  border-radius: rem(4);
  text-transform: uppercase;
}

.span {
  font-size: inherit;
}

.span--underline {
  border-bottom: 1px solid $textBlue;
}

.span--bold {
  font-weight: 700;
}

.circle:before {
  content: '';
  display: inline-block;
  width: rem(24);
  height: rem(24);
  border-radius: 50%;
  background-color: $bgBlue;
}

.circle--red:before {
  background-color: $bgRed;
}

.circle--dGray:before {
  background-color: $bgDarkgrey;
}

.circle--bordered:before {
  border: rem(3) solid $textWhite;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.18);
}
