//-----------colors-------------
$textBlue: #00bcd4;
$textWhite: #fff;
$textGrey: #242427;
$textBlack: #000;
$bgMidgrey: #0a0a12;
$bgDarkgrey: #242427;
$bgLightgrey: #f5f5f5;
$bgMidLightgrey: #dfdfdf;
//---------fonts-----------
$fontMuseoCyrl: 'Museo Sans Cyrl', sans-serif;
$fontTitle: 'Museo Sans Cyrl', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;
$fontText: 'Open Sans', sans-serif;
//$fontOpenSansExb: Open Sans Extrabold, sans-serif;
//$fontOpenSansSemb: Open Sans Semibold, sans-serif;
$fontProximaNova: 'Proxima Nova', sans-serif;
//$fontProximaNovaExb: Proxima Nova Extrabold, sans-serif;
$fontUbuntuMono: 'Ubuntu Mono', sans-serif;
//$fontUbuntuMonoB: Ubuntu Mono Bold, sans-serif;
//---------font-size-------
$mobTitle: 1.5rem;

//-------------functions---------
@function rem($px) {
  $result: $px / 16;
  @return #{$result}rem;
}
@function prc($el, $container){
  $result: $el / $container * 100%;
  @return #{$result};
}

@mixin bg-img {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
